.yellow {
  background-color: #b8b8b9;
  margin-top: 50px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.yellow__title {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: grey;
}
.yellow__counter {
  font-size: 40px;
  font-family: 'Roboto Mono', monospace;
  margin-bottom: 18px;
  color: #ffe81f;
}
.yellow__btns {
}
.yellow__btns--item {
  background-color: #ffe81f;
  color: black;
  border: none;
  outline: none;
  border-radius: 20px;
  padding: 5px 15px;
  margin: 2px;
  cursor: pointer;
}
